@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  color: gold;
}
.box{
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  display: flex;
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 5px;

}
.title{
  padding: 0 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 10px 0;
}
.newsImage{
  object-fit: cover;
  width: 320px;
  height: 268px;
}
@media(max-width:800px){
  .box{
    flex-direction: column
    width=100%
  }
  .newsImage{
    width: 100%;
    flex-direction: column;
    padding-bottom: 20px;
  }
}